
h2{
    color: #00b906;
    font-size: 30px;
    text-align: right;
}

body {
    font-family: 'MuseoModerno', sans-serif;
    background: #302E29;
}



iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    border: none;
}


footer {
    font-size: 12px;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
