h1{
    text-align: center;
    font-weight: 400;
}
h2, h3{
    font-size: 30px;
    text-align: right;
}
h4{
    text-align: right;
    font-size: 46px;
    
}
body{font-family: 'MuseoModerno', sans-serif;
    background:#302E29;
}
 a{
    text-decoration: none;
    color:#CA804F ;
font-weight: 300;
 }


iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
     border: none;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}


a{
    color: #CA804F;
}
a .links {
background: #302E29;
max-width: 600px;
margin: 36px auto;
box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
border-radius: 16px;
padding: 30px;
color: #000;
text-align: center;
font:200px;

}
.intro-container{background: linear-gradient(87.4deg, rgb(255, 241, 165) 1.9%, rgb(200, 125, 76) 49.7%, rgb(83, 54, 54) 100.5%);
    max-width: 100%;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
color: #000;}
.booking-container{
background: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
        max-width: 600px;
        margin: 45px auto;
        box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
        border-radius: 16px;
        padding: 30px;
        color: #000;
    }


.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-weight: 300;
}
