h1{
    text-align: center;
    font-weight: 400;
    color: rgb(58, 186, 47);
}

h4{
    text-align: right;
    font-size: 46px;
    
}
body{font-family: 'MuseoModerno', sans-serif;
    background:#424242;
    color:#000;
}
 a{
    text-decoration: none;
    color:#b9e937 ;
font-weight: 300;
 }


iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
     border: none;
}
footer{
    font-size: 12px;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

a .links {
background: #302E29;
max-width: 600px;
margin: 36px auto;
box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
border-radius: 16px;
padding: 30px;
color: #b9e937;
text-align: center;
font:200px;

}
.intro-container{background: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%);
    max-width: 100%;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
color: #000;}
.booking-container{
background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
        max-width: 600px;
        margin: 45px auto;
        box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
        border-radius: 16px;
        padding: 30px;
        color: #000;
    }
 .booking-container a{
    color: #ffffff;
    font-weight: 700;
}

.indexcontainer {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-weight: 300;
}

.about{
    font-size: 12px;
}